body {
  padding: 50px;
}

form {
  display: flex;
  position: relative;
  gap: 5px;
}

label {
  display: flex;
  flex-direction: column;
}

.span {
  color: gray;
}

.input {
  line-height: 18px;
  width: 180px;
  box-sizing: border-box;
}

button {
  border-radius: 5px;
  height: 24px;
  align-self: flex-end;
  cursor: pointer;
}

.select {
  position: absolute;
  top: 42px;
  left: 0;
  width: 365px;
  
}

.option{
  position: relative;
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
  border: 1px solid gray;
  border-top: none;
  cursor: pointer;
}

.option:hover {
  background-color: lightblue;
}

.radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.option-text {
  font-size: 16px;
  line-height: 18px;
  text-align: justify;
}